.statistics-box {
    display: flex;
    width: 100%;
}

.user-select {
    width: 40%;
    height: 100%;
    padding-right: 12px;
    overflow-x: auto;
}

.statistics {
    width: 60%;
    height: 100%;
    padding-left: 12px;
}

.statistics-pic {
    height: 55%;
}

.statistics-pic>* {
    height: 100%;
    max-width: 100%;
}

.statistics-day {
    height: 40%;
}

.statistics-day>* {
    height: 100%;
    max-width: 100%;
}